.well{
	background-color: violet;
	text-align: center;
}
.navbar-inner{

	background-color: yellow;
}
.primary{
	background-image: url(1.jpg);
}
.table-bordered{


}
.table{
	background-color: violet;
	text-decoration: georgia;
}